h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;
}
.casestudies{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.casestudy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    width: 60%;
    height: 100%;
    background-color: rgba(242,242,242,0.75);
    border-radius: 64px;
    padding-left: 5%;
    min-height: 500px;
}
.column {
    width: 45%;
    font-size: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Edpicture{
    width: 450px;
    margin-top:5%
}

.filler4portfolio{
    height: 50px;
}

.saleseeimage{
    margin: 5%;
    height: 400px;
}
